html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
.counter{font-family:'Open Sans',sans-serif;font-size:64px;text-shadow:4px 4px 5px rgba(150,150,150,1)}
#wrap{width:1920px;height:1080px;position:relative;}
.emoji{position:absolute;height:80px}
.emoji img{width:80px;margin:0 auto;display:block}
.wf{height:64px;position:absolute;text-align:center}
.count1_pos1{width:1920px;left:0}
.count2_pos1{width:960px;left:0}
.count2_pos2{width:960px;left:960px}
.count3_pos1{width:640px;left:0}
.count3_pos2{width:640px;left:640px}
.count3_pos3{width:640px;left:1280px}
.count4_pos1{width:480px;left:0}
.count4_pos2{width:480px;left:480px}
.count4_pos3{width:480px;left:960px}
.count4_pos4{width:480px;left:1440px}
.count5_pos1{width:384px;left:0}
.count5_pos2{width:384px;left:384px}
.count5_pos3{width:384px;left:768px}
.count5_pos4{width:384px;left:1152px}
.count5_pos5{width:384px;left:1536px}
.count6_pos1{width:320px;left:0}
.count6_pos2{width:320px;left:320px}
.count6_pos3{width:320px;left:640px}
.count6_pos4{width:320px;left:960px}
.count6_pos5{width:320px;left:1280px}
.count6_pos6{width:320px;left:1600px}